<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<Elasticsearch name="ElasticSearchAppender"
		   batchDelivery="org.appenders.log4j2.elasticsearch.BatchDelivery"
			index="setting-service-logs-%d{yyyy-MM-dd}"
			indexDateFormat="yyyy-MM-dd" errorsOnly="false" clientType="jest"
			ignoreExceptions="false" properties="true">
			<BatchDelivery batchSize="100" deliveryInterval="1000">
				<LimitDecider failureCount="5" interval="5000" />
			</BatchDelivery>

			<HttpClient host="http://localhost" port="9200">
				<BasicCredentials username="admin"
					password="Fistanthuan12345" />
			</HttpClient>
			<LogtashJsonLayout />
		</Elasticsearch>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="ElasticSearchAppender" />
		</Root>
	</Loggers>
</Configuration>