.ant-layout, .ant-layout-header{
    background: none;
}
.ant-space{
    float: left;
}
/**
table
**/
.ant-table-wrapper .ant-table-thead >tr>th{
    position: relative;
    color: rgb(24 24 24 / 88%);
    font-weight: 600;
    text-align: start;
    background: #f3f3f3;
    border-bottom: 1px solid #f0f0f0;
    padding: 7px;
}
.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 0 !important;
}

.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 0 !important;
}

.tb-row-btn{
    width: 100%;
    border: none;
    background: #f9f9f9;
}
.tb-row-btn.del{
   color: #f30000;
}

.tb-row-btn.view{
   color: #08697a;
}

.tb-row-btn.edit{
   color: #08697a;
}
/**
TyPography
**/
.ant-typography{
    margin: 0;
}

/**
Button
**/
.ant-btn{
	width: 100px;
    height: 33px;
    font-size: 16px;
    font-weight: 700;
    border-color: #63877f;
}
.ant-btn.save, .ant-btn.search, .ant-btn.add, .ant-btn.new{
    background: #0ec1cd;
    border: none;
    color: #ffffff;
}
.ant-btn.save:not(:disabled):hover, .ant-btn.search:not(:disabled):hover{
    background: #40bbb3;
    border: none;
    color: #ffffff;
}
/**
Search Form
**/
.search-form{
    padding-bottom: 50px;
}
.search-form .ant-input {
    line-height : 2.1;
    min-width : 230px
}
.search-form .outlined-label {
    position: absolute;
    top: 0;
    left: 0.75rem; /* Match the input's horizontal padding */
    transform: translateY(-50%);
    /* Background color MUST match the parent's background color (#f7f9fb) to mask the border */
    background-color: #f7f9fb;
    padding: 0 0.25rem;
    font-size: 0.8rem;
    color: #232527; /* Label text color */
    pointer-events: none;
    z-index: 10; /* Ensure label is above the border */
    transition: color 0.2s, background-color 0.2s;
    font-weight: 500;
}
.search-form .ant-select{
    min-width : 230px;
    height: 39px;
    text-align: start;
}